<div
class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
style="width: 280px; height: 100vh;"
>
<a
  href="/"
  class="d-flex align-items-center mb-3 mb-md-0 me-md-3 text-white text-decoration-none"
>
  <span class="fs-3">Administrador</span>
</a>
<a
    class="d-flex align-items-center mb-3 mb-md-0 me-md-3 text-white text-decoration-none"
>
    <span class="fst-italic fs-5">Admin</span>
</a>
<hr/>
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a [class]="classHome" aria-current="page" >
      <svg class="bi pe-none me-2" width="16" height="16">
        <use xlink:href="#home" />
      </svg>
      Home
    </a>
  </li>
  <li>
    <a [class]="classEmpleado" >
      <svg class="bi pe-none me-2" width="16" height="16">
        <use xlink:href="#speedometer2" />
      </svg>
      Empleado
    </a>
  </li>
  <li>
    <a [class]="classReporte" >
      <svg class="bi pe-none me-2" width="16" height="16">
        <use xlink:href="#table" />
      </svg>
      Reporte
    </a>
  </li>
  <li>
    <a [class]="classTarjeta" >
      <svg class="bi pe-none me-2" width="16" height="16">
        <use xlink:href="#grid" />
      </svg>
      Tarjeta
    </a>
  </li>
</ul>
<hr />
</div>
