<div
  class="flex justify-content-center align-content-center flex-wrap"
  style="min-height: 40%; min-width: 800px"
>
  <div class="flex align-items-center justify-content-center">
    <form #f="ngForm" class="example-form" (ngSubmit)="onSubmit(f)">
      <h1>Ingresar Venta</h1>
      <mat-form-field class="example-full-width">
        <mat-label>No. Factura</mat-label>
        <input
          matInput
          placeholder="Ex. 1564"
          name="no_factura"
          ngModel
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nit</mat-label>
        <input
          matInput
          placeholder="Ex. 156464"
          name="nit"
          ngModel
        />
        @if (nitFormControl.hasError('required')) {
        <mat-error>Nit is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nombre Cliente</mat-label>
        <input
          matInput
          placeholder="Ex. Eduardo"
          name="cliente"
          disabled="{{ usuario.length == 1 ? true : false }}"
          ngModel="{{usuario[0]?.nombre}}"
        />
        @if (nitFormControl.hasError('required')) {
        <mat-error>Name of the user is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <a mat-button (click)="getCLient(f)">Buscar</a>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Usuario Cajero</mat-label>
        <input
          matInput
          placeholder="Ex. 156464"
          readonly
          name="cajero"
          ngModel="{{ cajero[0]?.usuario }}"
        />
      </mat-form-field>

      <mat-form-field floatLabel="always">
        {{usuario[0]?.puntos}}
        <mat-label>Cantidad de Descuento</mat-label>
        <input
          matInput
          type="number"
          name="descuento"
          class="example-right-align"
          placeholder="0"
          value=0
          ngModel
        />
        <span matTextPrefix>Puntos-&nbsp;</span>
        <!-- <span matTextSuffix>.00</span> -->
      </mat-form-field>

      <div class="overflow-hidden">
        <div class="flex justify-content-center">
          <button mat-flat-button style="width: 100%">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- List Producto -->
<div
  class="flex justify-content-center flex-wrap"
  style="min-height: 40%; min-width: 800px"
>
  <div class="flex">
    <form #f="ngForm" class="example-form" (ngSubmit)="onSubmit(f)">
      <h3>Ingresar Articulo</h3>
      <mat-form-field >
        <mat-label>Select Producto</mat-label>
          <mat-select name="cod_producto" ngModel >
            @for (item of productos; track $index) {
                @if (item.cantidad != 0) {
                    <mat-option value="{{item.cod_producto}}" >{{item.cantidad}} {{item.name}}</mat-option>
                }
            }
          </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>Cantidad</mat-label>
        <input
          matInput
          type="number"
          name="descuento"
          class="example-right-align"
          placeholder="0"
          ngModel
        />
      </mat-form-field>

      <div class="overflow-hidden">
        <div class="flex justify-content-center">
          <button mat-flat-button style="width: 100%">Agregar</button>
        </div>
      </div>
    </form>
  </div>
</div>
