<div
  class="flex justify-content-center align-content-center flex-wrap"
  style="min-height: 60%; min-width: 800px"
>
  <div class="flex align-items-center justify-content-center">
    <form 
      #product="ngForm" 
      class="example-form" 
      (ngSubmit)="onSubmit(product)">
      <h1>Ingresar Producto</h1>
      <mat-form-field class="example-full-width">
        <mat-label>Código del Producto</mat-label>
        <input
          matInput
          name="cod"
          readonly="{{ (producto[0].cod_producto)? true: false }}"
          placeholder="Ex. producto"
          ngModel="{{ producto[0]?.cod_producto }}"
          [formControl]="codFormControl"
        />
        @if (codFormControl.hasError('required')) {
          <mat-error>Codigo is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          name="nombre"
          placeholder="Ex. Alejandro"
          ngModel="{{ producto[0]?.name }}"
          [formControl]="nameFormControl"
        />
        @if (nameFormControl.hasError('required')) {
          <mat-error>Nombre is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <!-- Ingresar Precio del producto -->
      <mat-form-field class="example-full-width" floatLabel="always">
        <mat-label>Precio</mat-label>
        <input
          matInput
          type="number"
          name="precio"
          class="example-right-align"
          placeholder="0"
          ngModel="{{ producto[0]?.precio }}"
          [formControl]="precioFormControl"
        />
        @if (precioFormControl.hasError('required')) {
          <mat-error>Precio is <strong>required</strong></mat-error>
        }
        <span matTextPrefix>Q&nbsp;</span>
        <!-- <span matTextSuffix>.00</span> -->
      </mat-form-field>
      <!-- Ingresar Cantidad del producto -->
      <mat-form-field class="example-full-width" floatLabel="always">
        <mat-label>Cantidad</mat-label>
        <input
          matInput
          type="number"
          name="cantidad"
          class="example-right-align"
          placeholder="0"
          ngModel="{{ producto[0]?.cantidad }}"
          [formControl]="cantidadFormControl"
        />
        @if (cantidadFormControl.hasError('required')) {
          <mat-error>Cantidad is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <!-- Ingreso de subcursal desabilitado -->
      <mat-form-field class="example-full-width">
        <mat-label>Subcursal</mat-label>
        <input matInput name="subcursal" readonly ngModel="{{ subcursal }}" />
      </mat-form-field>
      <div class="overflow-hidden">
        <div class="flex justify-content-center">
          <!-- actualiza el script del botton -->
          <button mat-flat-button style="width: 100%" >
            {{
              producto.length == 1 ? "Actualizar Producto" : "Ingresar Producto"
            }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
